.ui.card
  %blockquote
    %p It is in vain to say human beings ought to be satisfied with tranquillity: they must have action; and they will make it if they cannot find it.
    .right.floated.author
      %img.ui.avatar.image{:src => "/images/avatar/small/matt.jpg"}/
      Matt
