<p id="notice"><%= notice %></p>

<div class="ui container">
  <h1>Books</h1>

  <div class="ui link cards">
    <% @books.each do |book| %>
      <%= render partial:'book_card', locals: {book: book, show_detail: true} %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
